.unlockList {
  height: 100%;
  padding: 16px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

  :global {
    .ant-table-wrapper {
      height: 100%;
    }

    .ant-table {
      height: 100%;
    }

    .ant-table-container {
      height: 100%;
    }

    .ant-table-body {
      height: calc(100% - 55px) !important;
      overflow-y: auto !important;
    }

    .ant-progress {
      margin-right: 0;
    }

    .ant-tag {
      margin-right: 0;
    }
  }
}