/* 全局滚动条样式 */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background: rgba(128, 128, 128, 0.3);
  border-radius: 6px;
  transition: all 0.2s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(128, 128, 128, 0.5);
}

/* 针对火狐浏览器的滚动条样式 */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(128, 128, 128, 0.3) transparent;
}

input[type="text"] {
  box-sizing: border-box;
  height: 32px;
  padding: 4px 12px;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  background-color: #fff;
  color: #333;
  font-size: 14px;
  transition: border-color 0.2s, box-shadow 0.2s;
  outline: none;

  /* placeholder 样式 */
  &::placeholder {
    color: #999;
    opacity: 1;
    font-size: 14px;
  }

  &:hover {
    border-color: #c20c0c;
  }

  &:focus {
    border-color: #c20c0c;
    box-shadow: 0 0 0 2px rgba(194, 12, 12, 0.08);
  }

  /* 禁用状态 */
  &:disabled {
    background: #f5f5f5;
    color: #bfbfbf;
    cursor: not-allowed;
    border-color: #f0f0f0;
  }
}